.itemList {
  width: 600px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: white;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  /* border: 1px solid red; */
}

.itemDesciption {
  /* color: rebeccapurple; */
  /* line-height: 1; */
  font-size: medium;
  font-weight: bold;
  margin-left: 8px;
}

.textInputContainer {
  display: flex;
  /* border: 1px solid blueviolet; */
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.textInput {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  font-size: medium;
  font-weight: bold;
  padding: 0px 8px;
}

.textInput:focus {
  outline: none;
  border: 3px solid blue;
}

.textInput::placeholder {
  font-size: medium;
  color: darkgray;
  padding: 2px;
}

.addButton {
  padding: 8px;
  font-weight: 500;
  border-radius: 24px;
  border-color: black;
  display: block;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.5px;
  align-self: center;
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.filterChip {
  padding: 8px;
  font-weight: 500;
  border-radius: 24px;
  border-color: var(--color-black);
  display: block;
  text-decoration: none;
  letter-spacing: 0.5px;
  align-self: center;
  background-color: var(--color-bg);
  color: var(--color-black);
  font-size: medium;
  font-weight: bold;
}

.filterChip.selected {
  background-color: var(--color-black);
  color: var(--color-white);
}
